.card {
    background-color: var(--mantine-color-body);
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
  }
  
  .footer {
    display: flex;
    padding: var(--mantine-spacing-sm) var(--mantine-spacing-lg);
    border-top: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  }
  